*.stackdump
*.log
loaddefs.el
*.elc
*~
auto-save-list/**
elpa/**
.volatile/**
\#*#
session.*
projectile-bookmarks.eld
projectile.cache
tramp
.persistent-scratch
README.html
c-src/**
locate.db
org/**
emacs_backtrace.txt
